@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body {
	margin-top: 140px;
	height: 100%;
	background: #051231;
	color: #EE6053;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Baloo Bhaina';
	line-height: 1em;
}

h4 {
	font-size: 2.4em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: -1.2em;
}

h1 {
	font-size: 4em;
	text-transform: lowercase;
	text-align: center;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	text-transform: lowercase;
	text-align: center;
}

a {
	-moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;

	text-decoration: none;
	color: #EE6053;
}

a:hover {
	opacity: 0.5;
}

a:active {
	opacity: 0.3;
}
